<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body id="login-body">
    <div class="main-login">
        <div class="left-login">
            <h1>Welcome back to the Dino World!</h1>
            <img src="/images/DinossaurLogin.svg" alt="Logo" class="left-login-image">
        </div>
        <div class="right-login">
            <form class="card-login" action="/Login" method="post">
                <% if (message) { %>
                <div class="alert alert-danger" style="background-color: red; width: 20vw; text-align: center;">
                    <strong><%= message %></strong>
                </div>
                <% } %>
                <h1>LOGIN</h1>
                <div class="textfield">
                    <label for="Username">E-mail</label>
                    <input type="text" name="email" placeholder="Email">
                </div>
                <div class="textfield">
                    <label for="Password">Password</label>
                    <input type="password" name="password" placeholder="Password">
                    <a href="#">Forgot Password?</a>
                </div>
                <button class="btn-login" type="submit">Login</button>
                <p>Don't have an account? <span><a id="register" href="/Register">Register now!</a></span></p>
            </form>
        </div>
    </div>
</body>

</html>
