<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
    <link rel="stylesheet" href="/css/style.css">
    </style>
</head>

<body id="nav-body">
    <nav id="navbar">
        <ul>
            <li id="home-button">
                <a href="/" target="_top">
                    <button class="nav-button">Home</button>
                </a>
            </li>
            <li>
                <a href="/Dinosaurs" target="_top">
                    <button class="nav-button">Dinosaurs</button>
                </a>
            </li>
            <li>
                <a href="/News" target="_top">
                    <button class="nav-button">News</button>
                </a>
            </li>
            <% if (userAuthenticated) { %>
                <li class="login-button">
                    <button class="nav-button">Profile</button>
                    <!-- Optionally, include a dropdown menu for profile actions -->
                    
                </li>
                <% } else { %>
                <li class="login-button">
                    <a href="/Login" target="_top">
                        <button class="nav-button">Login</button>
                    </a>
                </li>
                <% } %>
        </ul>
        
    </nav>
</body>

</body>

</html>