<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-login">
        <div class="right-login">
            <form class="card-login" method="post" action="/Register" >
                <% if(messages.error) {%>
                    <div class="alert-danger">
                        <strong> <%messages.error%> </strong>
                    </div>
                <%}%>
                
                    <h1>REGISTER</h1>
                    <div class="textfield">
                        <label for="username">Username</label>
                        <input type="text" id="name" name="name" placeholder="Username">
                    </div>
                    <div class="textfield">
                        <label for="email">E-mail</label>
                        <input type="text" id="email" name="email" placeholder="E-mail">
                    </div>
                    <div class="textfield">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" placeholder="Password">
                    </div>
                    <div class="textfield">
                        <label for="confirmPassword">Confirm Password</label>
                        <input type="password" id="confirmPassword" name="confirmPassword"
                            placeholder="Confirm Password">
                    </div>
                    <button class="btn-login" type="submit">Register</button>
                    <p>Already have an account? <span><a id="register" href="/Login">Login!</a></span></p>
                </form>
         
        </div>
        <div class="left-login">
            <h1>Dive in the World of Dinosaurs!</h1>    
            <img src="/images/DinossaurRegister.svg" alt="Dinosaurs" class="left-login-image">
        </div>
    </div>
</body>

</html>